<h1><%= t('events.listing_events') %></h1>

<% @events.each do |event| %>
	<%= event.start_datetime %>
	<%= link_to event.name, event %>
	<%= link_to t('general.edit'), edit_event_path(event) %>
	<%= link_to t('general.destroy'), event, confirm: t('general.are_you_sure'), method: :delete %>
<% end %>

<br />
