<h1><%= t('events.listing_events') %></h1>

<table>
  <tr>
    <th>Event</th>
    <th>Beginn</th>
    <th>Ende</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @events.each do |event| %>
  <tr>
    <td><%= event.name %></td>
    <td><%= event.start_datetime %></td>
    <td><%= event.end_datetime %></td>
    <td><%= link_to t('general.show'), event %></td>
    <td><%= link_to t('general.edit'), edit_event_path(event) %></td>
    <td><%= link_to t('general.destroy'), event, confirm: t('general.are_you_sure'), method: :delete %></td>
  </tr>
<% end %>
</table>

<br />
